<footer id="mainFooter">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Help</h4>
            <ul>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Shipping and Delivery</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>About</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Sustainability</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Shoe Store. All rights reserved.</p>
    </div>
</footer>
