<!-- Login container hidden by default -->
<div id="loginContainer">
    <h2 id="loginHeading">Sign In</h2>
    <form id="loginForm">
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register" id="signupLink">Sign Up</a></p>
</div>
