<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/cart.css">
    <link rel="stylesheet" href="/footer.css"> <!-- ייבוא קובץ ה-CSS של ה-footer -->
</head>
<body>
    <div id="page-container">
        <!-- Include header partial -->
        <%- include('partials/header') %>
        <main>
            <h1>Your Shopping Cart</h1>
        </main>
        <!-- Include footer partial -->
        <%- include('partials/footer') %>
    </div>
</body>
</html>
