<div id="shoeDetails">
    <div class="shoe-container">
        <!-- Include shoe images partial -->
        <%- include('partials/shoe-images') %>
        <!-- Include shoe information partial -->
        <%- include('partials/shoe-info', { shoe: shoe }) %>
    </div>
</div>
