/* Base styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #111;
}

/* Styles for buttons and general interactive elements */
.cta-button {
    color: #f1f0f0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #333;
}

.add-to-cart {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.add-to-cart:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* General layout styles */
#page-container {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 300px; /* Adjust this value based on your footer height */
}
